:root
{
	--db: #1f2833;
}
*
{
	font-family: OST, Arial, Helvetica, sans-serif;
	list-style: none;
	text-decoration: none;
	color: white;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	scrollbar-color: #d4af37 transparent;
	scrollbar-width: thin;
	max-width: 100vw !important;
	box-sizing: border-box;
}
html{
	background-color: var(--db);
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}
.wrapper
{
	padding: 50px	;
}
@font-face {
	font-family: 'OST';
	src: url('/Assets/Font/OST-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'OST';
	src: url('/Assets/Font/OST-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'OST';
	src: url('/Assets/Font/OST-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  .italic
  {
	font-style: italic;
  }
  .bold
  {
	font-weight: bold;
  }
  button{
	background-color: var(--db);
	border: none;
	min-width: 500px;
	padding: 30px 0 30px;
	border-radius: 7px;
	font-size: 2.5rem;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
  }
  button:hover
  { 
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
	transform: scale(1.02);
  }
  .scroll-down {
	position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 3rem;
    color: white;
    opacity: 0.7;
    background-color: transparent;
    user-select: none;
}
button a {
    display: block;
    width: 100%; 
    height: 100%;
    text-align: center;
}